<?xml version="1.0" encoding="UTF-8" ?>
  <widget xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0"
    id="com.azati.esb"
    version="0.2.0" >
    <!-- versionCode is optional and Android only -->

    <name>ES Builder</name>

    <description>
        An example for phonegap build docs.
    </description>

    <author email="mob.dev@azati.com" href="azati.com">Azati corp.</author>
    <plugin name="cordova-plugin-device" />


</widget>
